extends layout

block content
  #main
    .content.pd
      each blog in obj.blogs
        .content-article
          a(href=`/post/${blog.alias}`)
            h3.px2= blog.title
          p.py1!= blog.content
    .leftSide.pd
      include leftSide
